{% style %}
  .text{
    color:Red;
    Font-size:18px;
  }
{% endstyle %}
      <div>
        <div class="text">
          <i class="fa-solid fa-angles-right fa-beat"></i> &nbsp; As Sale ends Price will be back to 👉&nbsp;
          {{-product.compare_at_price|money }}
        </div>
      </div>
<script src="https://kit.fontawesome.com/05c7dabbb9.js" crossorigin="anonymous"></script>
